# ETL Steam Games

In [1]:
import pandas as pd
import json
import pyarrow
import ast

In [2]:
#Se carga el dataset para crear el DataFrame que corresponde 
with open('DB Steam/steam_games.json', 'r') as file:
    data = [json.loads(line) for line in file]

dataGames = pd.json_normalize(data)
dfGames = pd.DataFrame(dataGames)

In [3]:
dfGames

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120440,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"[Single-player, Steam Achievements]",1.99,False,773640,"Nikita ""Ghost_RUS"""
120441,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"[Single-player, Steam Achievements, Steam Clou...",4.99,False,733530,Sacada
120442,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,False,610660,Laush Dmitriy Sergeevich
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,False,658870,"xropi,stev3ns"
120444,NaN,NaN,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,NaN,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,True,681550,NaN

In [4]:
#Se eliminan las filas que se encuentren vacias, y tambiÃ©n algunas columnas que no son necesarias para este caso
dfGames = dfGames.dropna(how = 'all')
dfGames.drop(['app_name','early_access','url','reviews_url','tags','publisher','specs'], axis=1, inplace = True)
dfGames.reindex()

/var/folders/47/k8p8b34120x38zvvxtyv0l6c0000gn/T/ipykernel_1161/3143255271.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfGames.drop(['app_name','early_access','url','reviews_url','tags','publisher','specs'], axis=1, inplace = True)

,genres,title,release_date,price,id,developer
88310,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro
88311,"[Free to Play, Indie, RPG, Strategy]",Ironbound,2018-01-04,Free To Play,643980,Secret Level SRL
88312,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,2017-07-24,Free to Play,670290,Poolians.com
88313,"[Action, Adventure, Casual]",å¼¹ç‚¸äºº2222,2017-12-07,0.99,767400,å½¼å²¸é¢†åŸŸ
88314,NaN,NaN,NaN,2.99,773570,NaN
...,...,...,...,...,...,...
120440,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,2018-01-04,1.99,773640,"Nikita ""Ghost_RUS"""
120441,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,2018-01-04,4.99,733530,Sacada
120442,"[Indie, Racing, Simulation]",Russian Roads,2018-01-04,1.99,610660,Laush Dmitriy Sergeevich
120443,"[Casual, Indie]",EXIT 2 - Directions,2017-09-02,4.99,658870,"xropi,stev3ns"
120444,NaN,NaN,NaN,4.99,681550,NaN

In [5]:
#Se extrae solamente el aÃ±o de la columna 'release_date' en una nueva columna cambiando el tipo de dato a int
dfGames['release_date'] = pd.to_datetime(dfGames['release_date'], format = 'mixed', errors = 'coerce')
dfGames['release_year'] = dfGames['release_date'].dt.year.fillna(0).astype(int)

/var/folders/47/k8p8b34120x38zvvxtyv0l6c0000gn/T/ipykernel_1161/2856379860.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfGames['release_date'] = pd.to_datetime(dfGames['release_date'], format = 'mixed', errors = 'coerce')
/var/folders/47/k8p8b34120x38zvvxtyv0l6c0000gn/T/ipykernel_1161/2856379860.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfGames['release_year'] = dfGames['release_date'].dt.year.fillna(0).astype(int)

In [6]:
dfGames.head()

,genres,title,release_date,price,id,developer,release_year
88310,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018
88311,"[Free to Play, Indie, RPG, Strategy]",Ironbound,2018-01-04,Free To Play,643980,Secret Level SRL,2018
88312,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,2017-07-24,Free to Play,670290,Poolians.com,2017
88313,"[Action, Adventure, Casual]",å¼¹ç‚¸äºº2222,2017-12-07,0.99,767400,å½¼å²¸é¢†åŸŸ,2017
88314,NaN,NaN,NaT,2.99,773570,NaN,0

In [7]:
#Se puede observar que en la columna price hay diferentes tipos de datos
dfGames['price'].apply(type).unique()

array([<class 'float'>, <class 'str'>], dtype=object)

In [8]:
#Se lista cuales son los valores tipo str de la columna price
dfGames['price'].loc[dfGames['price'].apply(type) == str].unique()

array(['Free To Play', 'Free to Play', 'Free', 'Free Demo',
       'Play for Free!', 'Install Now', 'Play WARMACHINE: Tactics Demo',
       'Free Mod', 'Install Theme', 'Third-party', 'Play Now',
       'Free HITMANâ„¢ Holiday Pack', 'Play the Demo',
       'Starting at $499.00', 'Starting at $449.00', 'Free to Try',
       'Free Movie', 'Free to Use'], dtype=object)

In [9]:
'''Como queremos saber los precios por aÃ±o, entonces cambiamos los valores de la columna
price que nos indiquen que son gratis al valor de 0 y los que son pagos, a su valor correspondiente'''
dfGames.loc[dfGames['price'].str.contains('Free', case = False) & dfGames['price'].notna(), 'price'] = 0.0
dfGames.loc[dfGames['price'].str.contains('install', case = False) & dfGames['price'].notna(), 'price'] = 0.0
dfGames.loc[dfGames['price'].str.contains('play', case = False) & dfGames['price'].notna(), 'price'] = 0.0
dfGames.loc[dfGames['price'].str.contains('third', case = False) & dfGames['price'].notna(), 'price'] = 0.0
dfGames.loc[dfGames['price'].str.contains('449', case = False) & dfGames['price'].notna(), 'price'] = 449.0
dfGames.loc[dfGames['price'].str.contains('499', case = False) & dfGames['price'].notna(), 'price'] = 499.0

In [10]:
dfGames['price'].apply(type).unique()
#Ya podemos ver que no hay valores de tipo str

array([<class 'float'>], dtype=object)

In [11]:
#Se cambia el nombre de la columna 'id' a 'item_id' para poder relacionar con los otros datasets
dfGames = dfGames.rename(columns = {'id': 'item_id'})

In [12]:
dfGames

,genres,title,release_date,price,item_id,developer,release_year
88310,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018
88311,"[Free to Play, Indie, RPG, Strategy]",Ironbound,2018-01-04,0.0,643980,Secret Level SRL,2018
88312,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,2017-07-24,0.0,670290,Poolians.com,2017
88313,"[Action, Adventure, Casual]",å¼¹ç‚¸äºº2222,2017-12-07,0.99,767400,å½¼å²¸é¢†åŸŸ,2017
88314,NaN,NaN,NaT,2.99,773570,NaN,0
...,...,...,...,...,...,...,...
120440,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,2018-01-04,1.99,773640,"Nikita ""Ghost_RUS""",2018
120441,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,2018-01-04,4.99,733530,Sacada,2018
120442,"[Indie, Racing, Simulation]",Russian Roads,2018-01-04,1.99,610660,Laush Dmitriy Sergeevich,2018
120443,"[Casual, Indie]",EXIT 2 - Directions,2017-09-02,4.99,658870,"xropi,stev3ns",2017
120444,NaN,NaN,NaT,4.99,681550,NaN,0

In [13]:
#En este punto se transforma el dataframe a un formato parquet
dfGames.to_parquet('DB Steam/steam_games.parquet', index = False)

In [14]:
dfGames.head()

,genres,title,release_date,price,item_id,developer,release_year
88310,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018
88311,"[Free to Play, Indie, RPG, Strategy]",Ironbound,2018-01-04,0.0,643980,Secret Level SRL,2018
88312,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,2017-07-24,0.0,670290,Poolians.com,2017
88313,"[Action, Adventure, Casual]",å¼¹ç‚¸äºº2222,2017-12-07,0.99,767400,å½¼å²¸é¢†åŸŸ,2017
88314,NaN,NaN,NaT,2.99,773570,NaN,0

In [15]:
# Se crea un dataframe que contenga unicamente el Id de los juegos y tambiÃ©n su precio.
dfGamesPrice = dfGames[['item_id', 'price']]
dfGamesPrice.head()

      item_id price
88310  761140  4.99
88311  643980   0.0
88312  670290   0.0
88313  767400  0.99
88314  773570  2.99

In [16]:
dfGamesPrice.head(20)

      item_id  price
88310  761140   4.99
88311  643980    0.0
88312  670290    0.0
88313  767400   0.99
88314  773570   2.99
88315  772540   3.99
88316  774276   9.99
88317  774277  18.99
88318  774278  29.99
88319  768800    NaN
88320  768570    NaN
88321  724910    0.0
88322  770380  10.99
88323  768880   3.99
88324  765320   2.99
88325  773650   1.59
88326  774271  14.99
88327  773690   1.99
88328  774279  59.99
88329  772590   4.99

In [17]:
# Podemos ver que hay valores del precio que son nulos, asÃ­ que se eliminarÃ¡n
dfGamesPrice = dfGamesPrice.dropna(subset = 'price')
dfGamesPrice.head(20)

      item_id  price
88310  761140   4.99
88311  643980    0.0
88312  670290    0.0
88313  767400   0.99
88314  773570   2.99
88315  772540   3.99
88316  774276   9.99
88317  774277  18.99
88318  774278  29.99
88321  724910    0.0
88322  770380  10.99
88323  768880   3.99
88324  765320   2.99
88325  773650   1.59
88326  774271  14.99
88327  773690   1.99
88328  774279  59.99
88329  772590   4.99
88330  640250   2.99
88331  768060   0.99

In [18]:
# Se transforma el dataframe creado a formato parquet
dfGamesPrice.to_parquet('DB Steam/GamesPrice.parquet', index = False)

In [19]:
# Se crea un dataframe que contenga los generos de los juegos junto con su 'item_id'
dfGamesGenre = dfGames[['item_id', 'genres', 'release_year']]
dfGamesGenre.head()

      item_id                                             genres  release_year
88310  761140      [Action, Casual, Indie, Simulation, Strategy]          2018
88311  643980               [Free to Play, Indie, RPG, Strategy]          2018
88312  670290  [Casual, Free to Play, Indie, Simulation, Sports]          2017
88313  767400                        [Action, Adventure, Casual]          2017
88314  773570                                                NaN             0

In [20]:
# Podemos ver que hay valores NaN en la columna 'genres', asÃ­ que se eliminan los juegos que no tengan especificado su genero
dfGamesGenre = dfGamesGenre.dropna(subset = 'genres')

In [21]:
dfGamesGenre.head(20)

      item_id                                             genres  release_year
88310  761140      [Action, Casual, Indie, Simulation, Strategy]          2018
88311  643980               [Free to Play, Indie, RPG, Strategy]          2018
88312  670290  [Casual, Free to Play, Indie, Simulation, Sports]          2017
88313  767400                        [Action, Adventure, Casual]          2017
88315  772540                    [Action, Adventure, Simulation]          2018
88316  774276          [Free to Play, Indie, Simulation, Sports]          2018
88317  774277          [Free to Play, Indie, Simulation, Sports]          2018
88318  774278          [Free to Play, Indie, Simulation, Sports]          2018
88319  768800                [Casual, Indie, Racing, Simulation]          2018
88320  768570          [Action, Indie, Simulation, Early Access]             0
88322  770380            [Action, Adventure, Casual, Indie, RPG]          2018
88323  768880                                    [Casual, Indie]          2018
88324  765320                        [Casual, Indie, Simulation]          2018
88325  773650   [Adventure, Casual, Indie, Simulation, Strategy]          2018
88326  774271          [Free to Play, Indie, Simulation, Sports]          2018
88327  773690   [Adventure, Casual, Indie, Simulation, Strategy]          2018
88328  774279          [Free to Play, Indie, Simulation, Sports]          2018
88331  768060                         [Action, Adventure, Indie]          2018
88333  775880                       [Racing, Simulation, Sports]          2017
88334  775881                       [Racing, Simulation, Sports]          2017

In [22]:
# Se hace una comprensiÃ³n de lista que cambia cada elemento '&' por 'and' en la columna 'genres'
dfGamesGenre['genres'] = dfGamesGenre['genres'].apply(lambda x: [element.replace('&amp;', 'and') for element in x]) 
dfGamesGenre.head()

      item_id                                             genres  release_year
88310  761140      [Action, Casual, Indie, Simulation, Strategy]          2018
88311  643980               [Free to Play, Indie, RPG, Strategy]          2018
88312  670290  [Casual, Free to Play, Indie, Simulation, Sports]          2017
88313  767400                        [Action, Adventure, Casual]          2017
88315  772540                    [Action, Adventure, Simulation]          2018

In [23]:
# Seguidamente se transforma el dataframe a formato parquet 
dfGamesGenre.to_parquet('DB Steam/GamesGenre.parquet', index = False)

In [24]:
# Se desanidan los datos de la columna 'genres' que estan anidados en listas con el mÃ©todo explode.
dfGamesGenre_sep = dfGamesGenre.explode('genres').reset_index(drop = True)
dfGamesGenre_sep.head()

  item_id      genres  release_year
0  761140      Action          2018
1  761140      Casual          2018
2  761140       Indie          2018
3  761140  Simulation          2018
4  761140    Strategy          2018

In [25]:
# Convertimos el dataframe con los generos desanidados a formato parquet
dfGamesGenre_sep.to_parquet('DB Steam/GamesGenre_sep.parquet', index = False)

In [26]:
# Se crea un dataframe con la informaciÃ³n de los desarrolladores de los juegos.
# TambiÃ©n se eliminan los juegos que no tengan especificado su desarrollador.
dfGamesDevs = dfGames[['item_id', 'developer','release_year']]
dfGamesDevs = dfGamesDevs.dropna(subset = 'developer')
dfGamesDevs.head()

      item_id            developer  release_year
88310  761140            Kotoshiro          2018
88311  643980     Secret Level SRL          2018
88312  670290         Poolians.com          2017
88313  767400                 å½¼å²¸é¢†åŸŸ          2017
88315  772540  Trickjump Games Ltd          2018

In [27]:
# Lo convertimos a parquet como todos los anteriores 
dfGamesDevs.to_parquet('DB Steam/GamesDevs.parquet', index = False)